<router-outlet></router-outlet>
<div id="category_details">
  <div class="category_details">
    <div class="category_details_heading">
      <h2>{{isView ? 'CATEGORY DETAILS' : 'EDIT CATEGORY'}}</h2>
      <div class="bread-crumb">
        <a routerLink="/admin/categories">Category</a>
        <i class="fa-solid fa-angle-right"></i>
        <a>Category Details</a>
      </div>
    </div>
    <div class="category_details_content" *ngFor="let item of categories">
      <div class="imgBox">
        <img src="./assets/img/{{item.image}}" width="650px" height="500px"/>
        <div class="change-img-box">
          <form class="change-img">
            <div id="myDropzone" class="dropzone">
              <input type="file" id="fileInput" (change)="chooseImg($event)"/>
            </div>
            <i class="fa-regular fa-image"></i>
          </form>
        </div>
      </div>
      <div class="category-details-main">
        <form [formGroup]="categoryForm" (ngSubmit)="handleUpdate()">
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" [formControlName]="'name'" class="form-control" />
          </div>
          <div class="form-group">
            <label>Published</label>
            <input type="text" [formControlName]="'date_added'" class="form-control" />
          </div>
          <div class="form-group">
            <label>Modified</label>
            <input type="text" [formControlName]="'date_modified'" class="form-control" />
          </div>
          <div class="group-control">
            <div class="tooltip">
              Display in the top menu bar. Only works for the top parent categories.
            </div>
            <div class="label">
                <label>Top</label>
                <span class="material-symbols-outlined" (mouseenter)="handleTooltip($event)" (mouseleave)="leaveTooltip($event)">
                  help
                </span>
            </div>
            <select [formControlName]="'top'" class="form-control">
              <option>{{item.top}}</option>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="group-control">
            <div class="label">
                <label>Status</label>
            </div>
            <select [formControlName]="'status'" class="form-control">
              <option>{{item.status}}</option>
              <option>Enabled</option>
              <option>Disabled</option>
            </select>
          </div>
          <div class="update-btn" *ngIf="!isView">
            <button type="submit">
              <i class="fa-solid fa-pen-to-square"></i>
              <h4>Cập nhật</h4>
            </button>
          </div>
        </form>
      </div>
      <div class="edit-icon">
        <div class="edit-btn" (click)="editClick()">
          <span class="material-symbols-outlined">
            edit
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dialog-content">
  <span></span>
  <p class="dialog-text"></p>
</div>

<app-footer></app-footer>
