#reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 170px 0px 80px 0px;
}

.reset-password {
  border: 2px solid rgb(203, 203, 203);
  width: 600px;
  border-radius: 5px;
  position: relative;
  height: 500px;
}

.logo-web {
  position: absolute;
  top: -30px;
  left: 32%;
  background-color: #F9EAE1;
  border-radius: 10px;
}

.reset-password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.group-control {
  display: flex;
  flex-direction: column;
  margin: 13px 0px;
}

.group-control > label {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(79, 79, 79);
}

.group-input {
  position: relative;
  width: 400px;
}

.group-input > span {
  position: absolute;
  top: 16px;
  right: 5px;
  font-size: 22px;
  color: rgb(83, 83, 83);
}

.group-input > input {
  width: 400px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 3px;
  padding: 13px 5px;
  margin-top: 5px;
  outline: none;
}

.group-input > input:focus {
  border: 1px solid sandybrown;
}

.group-input > span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.change-password {
  width: 69%;
  border: none;
  outline: none;
  background-color: #b8784e;
  color: white;
  margin-left: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding: 12px 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  transition: .3s ease;
  cursor: pointer;
}

.change-password:hover {
  opacity: 0.8;
}

.err-msg {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-family: "Nunito", sans-serif;
  color: red;
  margin-top: 5px;
  font-weight: 600;
}
