<div class="main">
  <router-outlet></router-outlet>
  <div class="homePage">
    <div id="reset-password">
      <div class="reset-password">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="handleSubmit()">
          <div class="logo-web">
            <img src="./assets/img/monfee-logo.png" width="200px"/>
          </div>

          <div class="reset-password-form">
            <div class="group-control">
              <label>Current Password:</label>
              <span class="group-input">
                <input type="password" [formControlName]="'current_password'" (change)="onCurrentPassword($event)"/>
                <span (click)="handleVisibility($event)">
                  <span class="material-symbols-outlined">
                    visibility_off
                  </span>
                </span>
                <div class="err-msg" *ngIf="matches == false" class="err-msg">The current password is wrong.</div>
              </span>
            </div>

            <div class="group-control">
              <label>New Password:</label>
              <span class="group-input">
                <input type="password" [formControlName]="'new_password'" (change)="onNewPassword($event)" />
                <span (click)="handleVisibility($event)">
                  <span class="material-symbols-outlined">
                    visibility_off
                  </span>
                </span>
              </span>
            </div>

            <div class="group-control">
              <label>Repeat Password:</label>
              <span class="group-input">
                <input type="password" [formControlName]="'repeat_password'" (change)="onRepeatPassword($event)"/>
                <span (click)="handleVisibility($event)">
                  <span class="material-symbols-outlined">
                    visibility_off
                  </span>
                </span>
                <div class="err-msg" *ngIf="confirmPasswordChecked == false && (resetPasswordForm.get('repeat_password')?.dirty || resetPasswordForm.get('repear_password')?.touched)" class="err-msg">The repeat password does not match the password.</div>
              </span>
            </div>
            <button type="submit" class="change-password">Change Password</button>
          </div>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
