#product-details {
  background-color: #f3f6f9;
}

.product-details {
  padding: 0px 0px 20px 70px;
}

.details-heading > h2 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: rgb(64, 64, 64);
  font-size: 18px;
  letter-spacing: 0.5px;
}

.details-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.bread-crumb {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.bread-crumb > i {
  font-size: 12px;
  color: rgb(170, 170, 170);
}

.bread-crumb > a {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgb(60, 60, 60);
  text-decoration: none;
}

.bread-crumb > a:last-child {
  color: rgb(142, 142, 142);
}

.details-body {
  background-color: white;
  box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
  margin: 20px 20px 50px 20px;
  border-radius: 5px;
  padding: 20px;
}

.details-body-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.details-content {
  width: 65%;
}
.product-img-slider {
  width: 35%;
  position: sticky;
  top: calc(70px + 1.5rem);
}

.swiper {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  box-sizing: content-box;
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, 0px);
}

.swiper-slider {
  max-width: 100%;
}

.swiper-slider img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.swiper-slider {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-color: rgba(102,145,231,.2);
  color: #007aff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.swiper-button-next {
  right: 13px;
}

.swiper-button-prev {
  left: 10px;
}

.product-nav-slider {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.product-nav-slider img {
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
}

.product-nav-slider img.active {
  opacity: 1;
}

.slider-active {
  border: 1px solid rgba(102, 145, 231, 0.423) !important;
}

.details-content-col1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-btn {
  background-color: #f3f6f9;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s ease;
  padding: 14px 20px;
  border-radius: 5px;
}

.edit-btn:hover {
  background-color: #ced4da;
}
.edit-btn > i {
  font-size: 12px;
}

.prod-name > h1 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 26px;
  color: #495057;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.prod-name > .published {
  font-family: "Nunito", sans-serif;
  color: #878a99;
  font-weight: 600;
}

.prod-name > .published > b {
  color: black;
}

.star-icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.star-icon > i {
  color: rgb(232, 188, 82);
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.stars > h4 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #878a99;
}

.sub-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}
.sub-info-col {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border: 1px dashed #e9ebec;
  padding: 7px 30px;
}

.sub-info-col > button {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  background-color: rgb(19,197,107,1);
  border-radius: 50%;
}

.sub-info-col > button > i {
  color: white;
}

.sub-info-col > div > h4 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #878a99;
  font-weight: 600;
  font-size: 15px;
}

.sub-info-col> div > h2 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #495057;
  font-weight: 700;
}

.sub-info-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.sizes> h4, .colors > h4, .ratings > h4, .reviews > h4 {
  color: #495057;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.size-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.size-container > button {
  background-color: #e8effb;
  color: #6691e7;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 15px;
  cursor: pointer;
}

.color-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.color-container > div > button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}


.color-container > div {
  border: 1px solid rgb(218, 218, 218);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 30px;
}

.description > h4 {
  color: #495057;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.description > span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: rgb(142, 142, 142);
  font-size: 15px;
  line-height: 24px;
}

.feedbacks {
  margin-top: 30px;
}

.ratings {
  width: 35%;
}

.reviews {
  width: 65%;
}

.average-stars {
  background-color: rgb(243, 246, 249);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
}

.point > h4 {
  margin: 0;
  color: #495057;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.reviews-total {
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-top: 10px;
  color: #878a99;
  font-weight: 600;
  font-size: 16px;
}

.separate-ratings {
  margin-top: 35px;
}

.separate-ratings > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0px;
}

.progress {
  background-color: #eff2f7;
  height: 7px;
  border-radius: 10px;
  position: relative;
  width: 60%;
}

.separate-ratings > div > p, .separate-ratings > div > h4 {
  margin: 0;
}

.progress-bar-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  background-color: rgb(19, 197, 107);
  height: 7px;
  border-radius: 10px;
}

.progress-bar-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  background-color: rgb(19, 197, 107);
  height: 7px;
  border-radius: 10px;
}

.progress-bar-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  background-color: rgb(19, 197, 107);
  height: 7px;
  border-radius: 10px;
}

.separate-ratings > div > p {
  font-weight: 650;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #495057;
  width: 20%;
}

.separate-ratings > div > h4 {
  font-weight: 650;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #878a99;
  width: 20%;
  text-align: right;
}

.progress-bar-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  background-color: rgb(232, 188, 82);
  height: 7px;
  border-radius: 10px;
}

.progress-bar-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  background-color: #ed5e5e;
  height: 7px;
  border-radius: 10px;
}

.feedbacks {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.review-item {
  border: 1px dashed #e9ebec;
  padding: 10px 20px;
}

.review-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-review {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-content > button {
  background-color: rgb(19, 197, 107);
  color: white;
  height: 22px;
  width: 65px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 5px;
}

.review-content > button > i {
  font-size: 9px;
}

.review-content > button > span {
  font-weight: 650;
  font-family: "Nunito", sans-serif;
  font-size: 11px;
}

.main-review > span {
  font-family: "Nunito", sans-serif;
  color: #878a99;
  font-weight: 600;
  font-size: 15px;
}

.review-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.review-img > img {
  border-radius: 5px;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.user-info > h4 {
  margin: 0;
  color:#495057;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.user-info > p {
  margin: 0;
  color:#878a99;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.review-item {
  margin-bottom: 20px;
}

.simplebar {
  height: 400px;
  overflow-y: auto;
}

.simplebar-wrapper,
.simplebar-height,
.simplebar-mask,
.simplebar-offset,
.simplebar-content-wrapper {
  height: 100%;
}

