#products {
  padding: 0px 0px 0px 70px;
  background-color: #f3f6f9;
}

.container {
  padding-bottom: 10%;
}

.products-heading {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 30px;
}

.products-heading>h2 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #495057;
  font-size: 19px;
}

.bread-crumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.bread-crumb>a:first-child>span {
  font-size: 18px;
  color: #495057;
}

.bread-crumb>a:last-child {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: rgb(0, 149, 255);
  text-decoration: none;
  font-weight: 600;
}


.add-btn>h4 {
  font-family: "Nunito", sans-serif;
  margin: 0;
  font-weight: 600;
}

.add-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.add-btn>span {
  font-size: 17px;
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 22%;
}

.table-part {
  width: 78%;
  height: 100%;
  box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table-title {
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.main-content {
  padding: 0px 20px;
}

.products-function {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.add-btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease;
}

.add-btn:hover {
  opacity: 0.8;
}

.search-box>input {
  width: 300px;
  padding: 10px 5px 10px 40px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

.search-box {
  position: relative;
}

.search-box>span {
  position: absolute;
  top: 9px;
  left: 10px;
  color: rgb(155, 155, 155);
}

.search-box>input:focus {
  border: 1px solid #c2d3f5;
}

.search-box>input::placeholder {
  color: rgb(143, 143, 143);
}

.nav-tabs>ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.nav-tabs>ul>li {
  list-style-type: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #6691e7;
  font-size: 16px;
  padding: 0px 10px 15px 10px;
  cursor: pointer;
}


.nav-tabs>ul>li>span {
  font-family: "Nunito", sans-serif;
  font-size: 11px;
  margin-left: 5px;
  background-color: #fce7e7;
  color: rgb(237, 94, 94, 1);
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: 700;
}

.nav-tab-active {
  border-bottom: 1px solid #6691e7;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: transparent;
  padding: 12px 8px;
  text-align: left;
}

tbody td {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.quantity,
.price,
.orders,
.published {
  font-size: 15px;
}

tbody {
  height: 100%;
}

/* Sort icon styles */

.fa-sort-up,
.fa-sort-down {
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

.fa-sort-up.active,
.fa-sort-down.active {
  color: #333;
}

/* Hover effect */
tbody tr:hover {
  background-color: #f5f5f5;
}


th>button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #6b7280;
  font-weight: 700;
}

tbody {
  background-color: white;
}

tbody>tr>td:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-align: left !important;
}

.img {
  border-radius: 5px;
}

.product-info {
  margin-top: 10px;
}

.product-info>h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: rgb(33, 37, 41, 1);
  margin: 0;
}

.product-info>p {
  font-family: "Nunito", sans-serif;
  margin-top: 5px;
  color: grey;
  font-weight: 600;
}

.dropdown-action {
  background-color: #ede7fb;
  padding: 7px 10px;
  color: rgb(172, 172, 172);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease;
}

.actions {
  position: relative;
}

.dropdown-action>i {
  font-size: 12px;
}

.dropdown-action:hover {
  background-color: #865ce2;
  color: white;
}

.dropdown {
  box-shadow: 0 5px 10px rgba(30, 32, 37, .12);
  padding: 2px 0px;
  position: absolute;
  top: 110%;
  right: 0;
  background-color: white;
  z-index: 9;
  display: none;
}

.dropdown>ul>li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 120px;
  padding: 10px 20px;
  cursor: pointer;
  transition: .2s ease;
}


.dropdown>ul {
  padding: 0;
  margin: 0;
}

.dropdown>ul>li:hover {
  background-color: #eff2f7;
}

.dropdown>ul>li>p {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 650;
  font-size: 15px;
  color: rgb(94, 94, 94);
  width: 95%;
  transform: translateX(-10px);
}

.dropdown>ul>li>span {
  width: 5%;
}

.view-btn>span {
  font-size: 18px;
  color: rgb(94, 94, 94);
}

.edit-btn>span {
  font-size: 15px;
  color: rgb(94, 94, 94);
}

.dropdown-animate {
  animation: dropdown 1s ease;
}

@keyframes dropdown {
  0% {
    transform: translateY(20px)
  }

  100% {
    transform: translateX(0);
  }
}


input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.select-remove>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.select-remove {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}


.select-remove>div>h3 {
  margin: 0;
}


.select-remove>div>button {
  background-color: white;
  border: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.select-remove>div>h3 {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  font-weight: 600;
}


.select-remove>button {
  color: red;
  background-color: white;
  border: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease;
}

.select-remove>button:hover {
  color: black;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clear-all-btn {
  color: rgb(102, 145, 231);
}

.card {
  background-color: white;
  padding: 20px;
}

.card-header>h2 {
  color: #495057;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.clear-all-btn {
  border: none;
  outline: none;
  background-color: white;
  font-family: "Nunito", sans-serif;
  border-bottom: 1px solid rgb(102, 145, 231);
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


.filter-choices-item {
  background-color: #6691e7;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 2px;
  border-radius: 5px;
}

.filter-choices-item>h4 {
  margin: 0;
  padding: 0px 5px;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.filter-choices-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}


.filter-choices-item>button>span {
  font-size: 16px;
  color: white;
  transition: .3s ease;
}

.filter-choices-item>button {
  background-color: transparent;
  border: none;
  outline: none;
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-choices-item>button>span:hover {
  opacity: 0.7;
  cursor: pointer;
}

.filter-choices {
  padding-top: 20px;
  border-bottom: 1px solid rgb(217, 217, 217);
  padding-bottom: 50px;
}

.categories {
  margin: 20px 0px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.categories>h4,
.price-box>h4 {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}

.categories-list {
  font-family: "Nunito", sans-serif;
}

/* Container styles */
.range-slider {
  width: 100%;
  height: 5px;
  background-color: #e29ae9;
  border-radius: 10px;
}

/* Track styles */
.range-slider input[type=range] {
  appearance: none;
  width: 100%;
  height: 5px;
  background-color: transparent;
  outline: none;
}

.range-slider input[type=range]::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ed5e5e;
  margin-bottom: 20px;
  box-shadow: rgb(218, 218, 218) 0px 8px 24px;
}

.cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.cost > h3 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: rgb(148, 148, 148);
}

.min > input, .max > input {
  padding: 7px 5px 7px 20px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
  font-weight: 500;
  font-size: 16px;
  width: 130px;
  outline: none;
}

.min > span, .max > span {
  font-size: 19px;
  position: absolute;
  top: 7px;
  left: 2px;
  font-weight: 700;
}

.min, .max {
  position: relative;
}

.quantity > h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin: 0;
}


.pagination-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 8px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.page-container > button {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color:#1e91cf;
  border: 1px solid rgb(231, 231, 231);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s ease;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.pagination-box > button:hover {
  background-color: #1e91cf;
  color: white;
}

.pagination-box > button > span{
  font-size: 22px;
}

.main-pagination {
  width: 84px;
  overflow-x: hidden;
}

.page-showing {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: grey;
}
