<router-outlet></router-outlet>
<div id="products">
  <div class="products-heading">
    <h2>PRODUCTS</h2>
    <div class="bread-crumb">
      <a routerLink="home">
        <span class="material-symbols-outlined">
          home
        </span>
      </a>
      <span>/</span>
      <a routerLink="/admin/products">
        Products
      </a>
    </div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="card"></div>
      <div class="table-part">
        <div class="table-title">
          <div class="products-function">
            <button class="add-btn">
              <span class="material-symbols-outlined">add</span>
              <h4>Add Product</h4>
            </button>
            <div class="search-box">
                <input type="text" placeholder="Search Products..."/>
                <span class="material-symbols-outlined">
                  search
                </span>
            </div>
          </div>
          <div class="nav-tabs">
            <ul>
              <li class="nav-tab-active">All
                <span>17</span>
              </li>
              <li>Scheduled
                <span>5</span>
              </li>
              <li>Draft</li>
            </ul>
          </div>
        </div>
        <div class="table-body">
          <table>
            <thead>
              <tr>
                <th>
                  <button>
                    <i class="fa-solid fa-arrow-up-a-z"></i>
                    Product
                  </button>
                </th>
                <th>
                  <button>
                    <i class="fa-solid fa-sort-down"></i>
                    Quantity
                  </button>
                </th>
                <th>
                  <button>
                    <i class="fa-solid fa-sort-down"></i>
                    Price
                  </button>
                </th>
                <th>
                  <button>
                    <i class="fa-solid fa-sort-down"></i>
                    Orders
                  </button>
                </th>
                <th>
                  <button>
                    <i class="fa-solid fa-sort-down"></i>
                    Rating
                  </button>
                </th>
                <th>
                  <button>
                    <i class="fa-solid fa-sort-down"></i>
                    Published
                  </button>
                </th>
                <th>
                  <button>
                    <i class="fa-solid fa-sort-down"></i>
                    Action
                  </button>
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let item of products">
              <tr>
                <td>
                  <input type="checkbox" />
                  <img class="img" src="./assets/img/{{item.img_url[0]}}" width="60px" />
                  <div class="product-info">
                    <h4>{{item.name}}</h4>
                    <p>Category: {{ getCategoryName(item.cat_id) }}</p>
                  </div>
                </td>
                <td class="quantity">
                  {{item.quantity}}
                </td>
                <td class="price">
                  {{item.promo_price ? item.promo_price.toLocaleString() : item.price[0].toLocaleString()}}
                </td>
                <td class="orders">
                  {{item.sales}}
                </td>
                <td>
                  {{item.rating ? item.rating : ''}}
                </td>
                <td class="published">
                  {{item.createdAt}}
                </td>
                <td>
                  <div class="actions">
                    <button class="dropdown-action" (click)="handleAction($event)">
                      <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <div class="dropdown">
                      <ul>
                        <li class="view-btn">
                          <span class="material-symbols-outlined">
                            visibility
                          </span>
                          <p>View</p>
                        </li>
                        <li class="edit-btn">
                          <span class="material-symbols-outlined">
                            edit
                          </span>
                          <p>Edit</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

